body{
   font-family: 'Quicksand', sans-serif;
   background-color: #2f3e46;
}
.container-fluid{
    padding: 0;
}

.container-fluid nav{
    position: sticky;
    top: 0;
}

.banner{
    background-image: url('../media/shb.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    text-shadow: 2px 2px 2px rgba(o, o, o, .3);
}

.hbdawn{
    background-image: url('../media/shb2.jpg');
    background-size: cover;
    background-position:center;
    min-height: 100vh;
}

.hbfire{
    background-image: url('../media/fireworks.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);

}
.color-overlay60{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 0;
    background-color: rgba(0, 0, 0, .6);
    display: block;
}

.dim{
    color: rgb(100, 100, 100);
}

.hero-title{
    color: rgb(247, 244, 244);
    position: absolute;
    bottom: 1.25rem;
    padding: 0 2rem 0;
}

video{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.video-wrapper{
    min-height:100vh;
    position:relative;
    overflow:hidden;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.seaquotes{
   color: white;
   font-size: 2rem;
   font-family: 'Poppins', sans-serif;
}

.backToTop{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: none;
}
.backToTopShow{
    position: fixed;
    font-size: 3rem;
    right: 2rem;
    bottom: 2rem;
    color: rgba(80, 65, 42, .7);
}

@media(max-width: 768px){
    .banner{
        min-height: 60vh;
    }
}

/* navbar */
.transblack{
    background-color: rgba(31, 31, 31, .8);
}